# Dados originais (não enviar)
Dados/Treinamento/

# Arquivos temporários do Python
__pycache__/
*.pyc

# Ambiente virtual
.venv/

# Configurações locais do VS Code
.vscode/
# Chaves e configurações secretas
.env

# Arquivos gerados pelo GraphRAG
GraphRAG/output/
GraphRAG/cache/
GraphRAG/logs